/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/
/* Niet aan toegekomen:
- code doorlopen
- De lijnen onder de project-titels wil je invoegen als een pseudo-element. Dit doe je door de afbeeldingen door middel van de background-image-property op een pseudo-element te plaatsen. Op deze manier vervuil je de HTML niet met "nutteloze" elementen.
- De gradients zijn in het bonusontwerp voorzien van een doorzichtige textuur. Deze kun je als pseudo-element via een background-image invoegen. Let op dat de textuur onder de content moet komen te staan. Lees hier meer over de background-image property.
- Zorg ervoor dat er een transitie ontstaat wanneer de gebruiker over de project-links hovert (EdHub Hfst. 9.5)
- mobiele versie maken
*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto:wght@100;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: Roboto, Open-sans, sans-serif;
}

h1, h2 {
    font-family: Merriweather, Martel, serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
:root {
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-standardtext: #0C0C0C;
    --color-bigfloatingwords: #F2F0FF;
    --color-backgroundprojects: #F3F6F9;
    --color-servicetile: #7A7A7A;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */


header {
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgb(75, 71, 205) 39%, rgb(83, 48, 161) 100%);
    padding: 0 8px;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 15px 20px;
    font-size: 14px;
    font-weight: 300;
}

.introtext {
    margin: 60px 20% 30px 20%;
}

h1 {
    margin-bottom: 20px;
}

.introtexth3 {
    font-weight: 300;
}

.headerbutton {
    background-color: var(--color-pink);
    border: none;
    border-radius: 35px;
    padding: 15px 30px;
    color: white;
    margin: 20px;
    text-transform: uppercase;
    font-size: 10px;
    box-shadow: 0 5px 10px #4B1DAF;
    letter-spacing: 0.05em;
}

a {
    color: white;
    text-decoration: none;
}

.squiggle {
    width: 60px; /*dit is denk ik niet de bedoeling, nog kijken hoe ik dit responsief moet maken*/
}

.triangle {
    border-left: 0 solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 50px solid #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
}

/* --------------- 4.2 Introduction ------------------- */
.hello {
    position: relative;
    display: flex;
    justify-content: center;
}

.hello::before {
    content: "hello";
    font-size: 320px;
    font-weight: 600;
    color: #f7f5ff;
    display: block;
    position: absolute;
    z-index: -1;
}

.introductory {
    margin: 80px 20% 60px 20%;
    text-align: center;
    color: var(--color-purple);
}

.introductorytext {
    padding-bottom: 25px;
    font-size: 22px;
}

.standardtext {
    color: var(--color-standardtext);
    font-size: 13px;
    margin-top: 55px;
    font-weight: 400;
}

.purpletext {
    color: var(--color-purple);
}

/* ------------------------------- 5. Work -------------------------------- */
.backgroundsectionwork {
    background-color: var(--color-backgroundprojects);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 150px 0;
    position: relative;
}

.backgroundsectionwork::before {
    content: "work";
    font-size: 360px;
    font-weight: 500;
    color: #ffffff;
    display: block;
    position: absolute;
    flex-shrink: 1;
    top: 0;
}

.eventriangle /*hoe zorg ik ervoor dat de triangle 100% van de breedte is van het scherm?*/
    /*ik wilde dit oplossen dmv nth-child(even) maar wist niet hoe, wanneer de children verspreid staan door het html document*/{
    border-left: 100vw solid transparent;
    border-right: 0 solid transparent;
    border-top: 50px solid #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.backgroundsectionwork .work:nth-child(odd) {
    flex-direction: row-reverse;
}

.worktextreverse {
    margin: 0;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 20px;
    align-items: center;
    max-width: 1400px;
    padding: 20px;
    z-index: 1;
}

.workpicture {
    width: 100%;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.23);
}

.workpicturereverse {
    margin-right: 50px;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.squigglework {
    margin-top: 30px;
    width: 40px;
}

.worktext {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    padding: 20px;
    margin: 10px 80px 10px 0;
    font-size: 14px;
    font-weight: 400;
}

.viewproject {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    letter-spacing: 0.1em;
    color: var(--color-purple);
}

.topbottommargin {
    margin: 16px 0; /*kan dit handiger worden opgelost dmv space-between?*/
}

/*Services*/
.services {
    display: flex;
    flex-flow: wrap row;
    padding: 40px;
    margin-top: 100px;
    justify-content: space-around;
    position: relative;
}

.services::before {
    content: "services";
    font-size: 200px;
    font-weight: 500;
    color: #f7f5ff;
    display: block;
    position: absolute;
    top: -110px;
}

.servicebox {
    flex-basis: 100%;
    padding: 28px;
    margin: 20px 10px;
    flex-shrink: 1;
    min-width: 250px;
    box-shadow: 0 4px 10px #d0d0d0;
    border: 1px solid var(--color-purple);
    font-size: 11px;
    font-weight: lighter;
    z-index: 1;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .servicebox {
        flex-basis: 30%;
    }

}
.icon {
    width: 50px;
}

.serviceheader {
    color: var(--color-purple);
    margin: 15px 0;
}

/*form*/
.sectionform {
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgb(75, 71, 205) 39%, rgb(83, 48, 161) 100%);
    padding: 0 10px;
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.formbutton {
    background-color: var(--color-pink);
    border: none;
    border-radius: 35px;
    padding: 17px 50px;
    color: white;
    margin: 0 20px 0 20px;
    text-transform: uppercase;
    font-size: 10px;
    box-shadow: 0 5px 10px #4B1DAF;
    letter-spacing: 0.05em;
    text-align: center;
    max-width: 130px;
    align-self: center;
}

.divform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 25px 25px 0 25px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
}

::placeholder {
    font-family: Roboto, Open-sans, sans-serif;
    padding: 10px;
    font-size: 11px;
}

#user-message {
    padding: 10px;
    border-radius: 3px;
    border: none;
}

.headersize {
    font-size: 34px;
    margin: 20px;
}

.psizeform {
    font-size: 14px;
    font-weight: 300;
}

label {
    margin-bottom: 25px;
}

.labelnames {
    font-weight: 500;
    font-size: 11px;
}

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 18px;
    text-align: center;
}